.main-content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  padding: 50px 20px;
  max-width: 1400px;
  margin: 0 auto;
}

@media screen and (width < 400px) {
  .main-content-grid {
    display: flex;
    flex-direction: column;
    
  }
}