.product-card-container {
  width: auto;
  height: fit-content;
  overflow: hidden;
  border-radius: 12px;
  background-color: #eee;
  box-shadow: 2px 2px 10px 1px #eee;
}

.card-body {
  padding: 20px;
}
