@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.paragraph {
  font-size: 12px;
}

.subtitle {
  font-size: 18px;
}

.card-button {
  width: 100%;
  padding: 10px;
  background-color: #2d70d4;
  color: #fff;
  border-radius: 25px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
}

.form-container {
  min-width: 100%;
}

.input-text {
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  border: 2px solid #525252;
  border-radius: 12px;
  outline: none;
  flex-shrink: 0;
  min-width: 0px;
  margin-top: 20px;
}

.input-error {
  border: 2px solid #fb3f3f;
}

.label-input-error {
  font-family: 8px;
  color: rgb(251, 63, 63);
  /* margin-bottom: 10px; */
}

